<!DOCTYPE html>
<html>

<head>
    <!--
    Customize this policy to fit your own app's needs. For more guidance, see:
        https://github.com/apache/cordova-plugin-whitelist/blob/master/README.md#content-security-policy
    Some notes:
        * gap: is required only on iOS (when using UIWebView) and is needed for JS->native communication
        * https://ssl.gstatic.com is required only on Android and is needed for TalkBack to function properly
        * Disables use of inline scripts in order to mitigate risk of XSS vulnerabilities. To change this:
            * Enable inline JS: add 'unsafe-inline' to default-src
    -->
    <meta http-equiv="Content-Security-Policy" content="default-src 'self' data: gap: https://ssl.gstatic.com 'unsafe-eval'; style-src 'self' 'unsafe-inline'; media-src *">
    <meta name="format-detection" content="telephone=no">
    <meta name="msapplication-tap-highlight" content="no">
    <meta name="viewport" content="user-scalable=no, initial-scale=1, maximum-scale=1, minimum-scale=1, width=device-width">
    <meta charset="utf-8">
    
    <!-- css -->
    <link rel="stylesheet" href="css/jquery.mobile-1.4.5.min.css" />
    <!-- <link rel="stylesheet" href="css/index.css"> -->
    <link rel="stylesheet" href="css/estilos.css">
    <title>Alarma GPS</title>
</head>

<body>
    <div id="divVuePos" class="app">
        <div data-role="header" data-theme="b">
            <h1>Alarma GPS</h1>
        </div>
        
        <div data-role="content" data-theme="b">
            <b>Posicion:</b> {{ latitud }}, {{ longitud }}
            <b v-if="error">Error:</b> {{ error }}
        </div>
        
        <div id="divBotones" 
            class="ui-overlay-shadow ui-corner-all" 
            data-role="controlgroup" 
            data-theme="b">
            
            <button id="btnWatch" data-icon="arrow-r">{{ accion_watch }}</button>
            <a id="aPanelGuardar" href="#divPanelGuardar" data-role="button" data-icon="gear">Guardar</a>
            <button id="btnMostrar" data-icon="info">{{ accion_alarmas }} Alarmas</button>
        </div>
        
        <div id="divAlarmas" v-if="mostrar_alarmas">
            <table id="tableAlarmas" class="ui-shadow ui-corner-all ui-table" data-role="table">
                <caption>Alarmas guardadas (presionar número para borrar)</caption>
                <thead>
                    <tr>
                        <th>N°</th>
                        <th>Posición</th>
                        <th>Descripción</th>
                        <th>Distancia (m)</th>
                        <th>Activo</th>
                    </tr>
                </thead>
                <tbody id="tbodyAlarmas">
                    <tr v-for="alarma in alarmas" :key="alarma.id" >
                        <td class="alarmaId">{{ alarma.id }}</td>
                        <td><input class="alarmaPos" :value="alarma.latitud + ', ' + alarma.longitud"/></td>
                        <td><input class="alarmaDesc" :value="alarma.descripcion"/></td>
                        <td><input type="number" class="alarmaDist" :value="alarma.distancia"/></td>
                        <td><input type="checkbox" class="alternarAlarma" v-model="alarma.activo"/></td>
                    </tr>
                </tbody>
            </table>
        </div>
        
        <div id="divPanelGuardar" class="ui-panel ui-panel-position-left ui-panel-display-overlay ui-panel-animate ui-body-b" 
            data-role="panel">
            
            <div data-role="header" data-theme="b">
                <h1>Guardar ubicación</h1>
            </div>
            
            <div data-role="controlgroup" class="ui-body-b">
                <input id="inGuardarPos" placeholder="Latitud, Longitud"/>
                <input id="inGuardarDesc" placeholder="Descripción"/>
                <input id="inGuardarDist" type="number" placeholder="Distancia (metros)"/>
                <label>
                    <input id="inGuardarActivo" type="checkbox" placeholder="Descripción" name="activo" checked="checked">
                    Activo
                </label>
            </div>
            
            <div data-role="controlgroup" data-theme="b">
                <a href="#divVuePos" 
                    data-rel="close" 
                    data-role="button">
                    
                    Cancelar
                </a>
                <button id="btnGuardarGuardar">Guardar</button>
            </div>
        </div>
    
        <!-- <button id="btnPrueba" style="width: 100%">Prueba</button> -->    
    </div>
    
    <script src="js/jquery.min.js"></script>
    <script src="js/jquery.mobile-1.4.5.min.js"></script>
    <script type="text/javascript" src="cordova.js"></script>
    <script type="text/javascript" src="js/vue.js"></script>
    <script type="text/javascript" src="js/consultas_sql.js"></script>
    <script type="text/javascript" src="js/index.js"></script>
</body>
    
</html>
