<!DOCTYPE html>
<html>

<head>
    <!-- <meta http-equiv="Content-Security-Policy" content="default-src 'self' data: gap: https://ssl.gstatic.com 'unsafe-eval'; style-src 'self' 'unsafe-inline'; media-src *"> -->
    <meta http-equiv="Content-Security-Policy" 
        content="default-src 'self' https://a.tiles.mapbox.com https://api.tiles.mapbox.com 
                     data: gap: https://ssl.gstatic.com 'unsafe-eval'; 
                 style-src 'self' 'unsafe-inline'; 
                 media-src *; 
                 connect-src 'self' http://192.168.1.37 https://a.tiles.mapbox.com">
    <meta name="format-detection" content="telephone=no">
    <meta name="msapplication-tap-highlight" content="no">
    <meta name="viewport" content="user-scalable=no, initial-scale=1, maximum-scale=1, minimum-scale=1, width=device-width">
    <meta charset="utf-8">
    
    <!-- css -->
    <link rel='stylesheet' href='css/mapbox.css' />
    <link rel="stylesheet" href="css/jquery.mobile-1.4.5.min.css" />
    <!-- <link rel="stylesheet" href="css/index.css"> -->
    <link rel="stylesheet" href="css/estilos.css">
    
    <title>Alarma GPS</title>
</head>

<body>
    <div id="divVuePos" class="app" 
        data-role="page" 
        data-theme="b">
        
        <div data-role="header">
            <h1>Alarma GPS</h1>
        </div>
        
        <div data-role="content">
        
            <table>
                <tr>
                    <td colspan="2" class="titulo">io.sintitulo.cordova</td>
                </tr>
                <tr>
                    <td>Posicion</td>
                    <td><input readonly :value="(latitud || '') + ', ' + (longitud || '')"/></td>
                </tr>
                <tr v-if="error">
                    <td>Error</td>
                    <td><input readonly :value="error"/></td>
                </tr>
            </table>
        
            <div id="divContMapa">
                <div id="divMapa"></div>
            </div>
            
            <!-- <mapa 
                :alarmas="alarmas"
                :latlng="[latitud, longitud]"
                :pos_inicial="pos_inicial" 
                @cambio_pos="onCambioPos($event)" >
            </mapa> -->
        
            <div id="divBotones" class="ui-overlay-shadow ui-corner-all" 
                data-role="controlgroup">
                
                <button id="btnWatch" data-icon="arrow-r" @click="iniciarWatch()">{{ accion_watch }}</button>
                <!-- <a id="aPanelGuardar" href="#divPanelGuardar" data-role="button" data-icon="gear" >Guardar alarma</a> -->
                <a id="aPanelGuardar" href="#divPanelGuardar" data-role="button" data-icon="gear">Guardar alarma</a>
                <a id="aPanelTabla" href="#divPanelTabla" data-role="button" data-icon="gear" @click="consultarAlarmas()" >Mostrar alarmas</a>
            </div>
        </div> <!-- data-role="content" -->
        
        <div id="divPanelGuardar" class="ui-panel ui-panel-position-left ui-panel-display-overlay ui-panel-animate" 
            data-role="panel"
            data-display="overlay">
            
            <div data-role="header">
                <h1>Guardar<br>ubicación</h1>
            </div>
            
            <div data-role="controlgroup">
                <input id="inGuardarPos" placeholder="Latitud, Longitud"/>
                <input id="inGuardarDesc" placeholder="Descripción"/>
                <input id="inGuardarDist" type="number" placeholder="Distancia (metros)"/>
                <label>
                    <input id="inGuardarActivo" type="checkbox" name="activo" checked="checked">
                    Activo
                </label>
            </div>
            
            <div data-role="controlgroup">
                <a href="#divVuePos" data-rel="close" data-role="button" >Cancelar</a>
                <button id="btnGuardar" @click="guardarAlarma()" >Guardar</button>
            </div>
        </div> <!-- "divPanelGuardar -->
    
        <div id="divPanelTabla" class="ui-panel ui-panel-display-overlay ui-panel-animate" 
            data-role="panel"
            data-display="overlay"
            data-swipe-close="false">
            
            <div data-role="header">
                <h1>Alarmas<br>guardadas</h1>
            </div>
            
            <div data-role="content">
                <div data-role="controlgroup">
                    <a href="#divVuePos" data-rel="close" data-role="button">
                        Cerrar
                    </a>
                </div>
                
                <div style="overflow-x: auto">
                <table id="tableAlarmas" class="ui-shadow ui-corner-all ui-table">
                    <thead>
                        <tr>
                            <th>N°</th>
                            <th>Descripción</th>
                            <th>Posición</th>
                            <th>Distancia (m)</th>
                            <th>Activo</th>
                            <th>Borrar</th>
                        </tr>
                    </thead>
                    <tbody id="tbodyAlarmas">
                        <!-- <tr v-for="alarma in alarmas" :key="alarma.id" > -->
                        <tr v-for="(alarma, i) in alarmas" :key="i" >
                            <td><button @click="centrarEnAlarma(alarma)" >{{ alarma.id }}</button></td>
                            <td><input  v-model="alarma.descripcion" @change="cambiarDescripcion(alarma, i)" /></td>
                            <td><input  :value="alarma.latitud + ', ' + alarma.longitud" @change="cambiarPosicion(alarma, i, $event)" /></td>
                            <td><input  type="number" v-model="alarma.distancia" @change="cambiarDistancia(alarma, i)" /></td>
                            <td><input  type="checkbox" v-model="alarma.activo" @change="cambiarEstado(alarma, i)" /></td>
                            <td><button data-icon="delete" data-iconpos="notext" @click="borrarAlarma(alarma, i)" >Borrar</button></td>
                        </tr>
                    </tbody>
                </table>
                </div> <!-- style="overflow-x: auto" -->
            </div> <!-- data-role="content" -->
            
        </div> <!-- #divPanelTabla -->
    </div>
    
    <template id="templateMapa">
    <div id="divContMapa">
        <div id="divMapa"></div>
    </div>
    </template>
    
    <script src="js/jquery.min.js"></script>
    <script src="js/jquery.mobile-1.4.5.min.js"></script>
    <script src='js/mapbox.js'></script>
    <script type="text/javascript" src="cordova.js"></script>
    <script type="text/javascript" src="js/vue.js"></script>
    <script type="text/javascript" src="js/consultas_sql.js"></script>
    <script src="js/mapbox_access_token.js"></script>
    <script type="text/javascript" src="js/index.js"></script>
</body>
    
</html>
